* {
  box-sizing: border-box;
}

body,
html {
  background: url("images/white-waves.png");
  font-family: Arial, Helvetica, sans-serif;
  color: #777;

  height: 100%;

  margin: 0 auto;
  font-weight: 400;
}

h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*Nav Styling*/

nav {
  display: block;
  position: sticky;

  background-color: #fff;
  border-bottom: 0.8px solid #ccc;
  width: 100%;
  height: 4rem;
  margin-top: 0;
}

.logo {
  /*decoration*/
  background: #4aaaa5;
  margin-left: 10%;
  color: #fff;
  text-align: center;

  /*positioning*/
  float: left;
  height: 4rem;
  padding: 0 8px;
}

.basic-nav {
  /*decoration*/
  text-transform: uppercase;

  /*positioning*/
  float: right;
  margin-right: 15%;
  margin-top: 10px;
  padding: 10px;
}

.basic-nav,
a {
  text-decoration: none;
  padding: 10px;
  color: #777;
}

a:hover{
    background:#4aaaa5;
    color:#fff;
    
}

/*Main*/
main {
  width: 80%;
  margin: 20px auto;

  margin-bottom:150px;
  padding:25px;
  padding-bottom:50px;

  border: 0.8px solid #ccc;
  background: #fff;
}

#aboutMe {
  background: white;

  display: block;
}

hr {
  width: 95%;
  border: 1px solid #777;
}

.title {
  padding-left: 20px;
  color: #4aaaa5;
}

img {
  float: left;
  width: 200px;
  padding: 10px;
}

#bio {
  font-size: 20px;
  line-height: 30px;
}

.projects {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
}

.portfolio-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  position: relative;
  display: inline-block;
  margin-bottom:20px;
  margin-top:20px;
}

.text {
  position: absolute;
  
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 80%; 
  text-align: center;
  
  width: 98%;
  height:75px;

  font-size:1.5rem;
  background: #4aaaa5;
  
}

.wrapper {
  background: #4aaaa5;
  z-index: 7;
  height: 50px;
}

.contact-form {
  width: 80%;
  margin: 20px;
}

.form-control {
  width: 100%;
}

textarea {
  height: 8em;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*footer styling*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  padding: 0;

  background: #666;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  border-top: 8px solid #4aaaa5;
}

